#icon{
    width: 20px;
    margin-left: 10px;
}

#footer-container {
    display: flex;
    margin-left: 10px;
}

footer{
    padding: 5px;
    margin: 10px;
    margin-left: 25%;
    background-color: darkgrey;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}